/Writing/Manuscript*/*
/Writing/*cache/*
/Writing/*.pdf
/Writing/*.tex
/Writing/NatureWater/*/*.pdf
# /Writing/NatureWater/*/*/*.pdf
/Writing/*files/*
/Codes/*cache*/*
/Codes/*files*/*
/Codes/*.html
/Figures/*
.Rproj.user/*
.Rproj.user
.Rhistory
# *.pdf
*.log
*.gz
*.aux
*.bbl
*.blg
# *.png
*.DS_Store
*.zip
*.Rhistory
*.docx
data.md
Data/*
Data.zip
Results/*
Shared/*
*/metadata.Rmd
todo.md


