/Writing/Manuscript*/*
/Writing/Figures/*
/Writing/*cache/*
/Writing/*files/*
/Codes/*cache*/*
/Codes/*files*/*
/Codes/*.html
/Figures/*
.Rproj.user/*
.Rproj.user
*.pdf
*.log
*.gz
*.bbl
*.png
*DS_Store
*.zip
*.Rhistory



