/Writing/Manuscript*/*
# /Writing/Figures/*
/Writing/*cache/*
/Writing/Earth*/*.pdf
/Writing/NatureWater/*/*.pdf
/Writing/NatureWater/*/*/*.pdf
/Writing/*files/*
/Codes/*cache*/*
/Codes/*files*/*
/Codes/*.html
/Figures/*
.Rproj.user/*
.Rproj.user
# *.pdf
*.log
*.gz
*.bbl
*.png
*DS_Store
*.zip
*.Rhistory



